<%= form_with(model: @post, local: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form-group text-input">
	  <%= f.text_area :content, placeholder: "How you feelin?", class: "form-control" %>
	  <span id="x-button"></span>
	</div>
	<div class="styling form-group">
		<div class="color-pickers">
		  <div class="picker font-picker">
			<%= f.label :font_color %>
			<%= f.color_field :font_color, value: '#000000' %>
		  </div>
		  <div class="picker body-picker">
			<%= f.label :body_color %>
			<%= f.color_field :body_color, value: '#ffffff' %>
		  </div>
	    </div>
	    <div class="upload-div">
	      <span class="upload-photo">Upload Photo</span>
		  <label for="post_image" class="file-label"><span class="glyphicon glyphicon-camera"></span></label>
			<%= f.file_field :image, accept: "image/jpeg, image/gif, image/png", class: "img-upload" %>
		</div>
	</div>
	<div class="post-form-buttons">
		<%= f.submit "share", class: "share-button" %>
	</div>
	<script>
		const textarea = document.querySelector('textarea');
		textarea.addEventListener('input', function(e) {
			e.target.style.height = 'inherit';
			let computed = window.getComputedStyle(e.target);

			var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
	             + parseInt(computed.getPropertyValue('padding-top'), 10)
	             + e.target.scrollHeight
	             + parseInt(computed.getPropertyValue('padding-bottom'), 10)
	             + parseInt(computed.getPropertyValue('border-bottom-width'), 10);
			this.style.height = height + 'px';
			
		});
		let buttonShowing = false;
		const xButton = document.querySelector('#x-button');

		textarea.addEventListener('input', function(e) {
			if (!buttonShowing) {
				xButton.style.display = "block";
				buttonShowing = true;
			};
		});
		xButton.addEventListener('click', function(e) {
			textarea.value = '';
			xButton.style.display = 'none';
			buttonShowing = false;
		});
	</script>
<% end %>