<%= form_with(model: @post, local: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form-group">
	  <%= f.text_area :content, placeholder: "How you feelin?", class: "form-control" %>
	</div>
	<div class="post-form-buttons">
		<label for="post_image" class="file-label"><span class="glyphicon glyphicon-camera"></span></label>
		<%= f.file_field :image, accept: "image/jpeg, image/gif, image/png", class: "img-upload" %>
		<%= f.submit "share", class: "share-button" %>
	</div>
	
<% end %>