<div class="post_wrapper">
	<div class="card" style="background-color: <%= post.body_color %>; color: <%= post.font_color %>">
		<%= image_tag post.image, class: "card-img-top" if post.image.attached? %>
	
		<div class="card-body">
			<p><%= post.content %></p>
			<span class="timestamp">
			posted <%= time_ago_in_words(post.created_at) %> ago.
			</span>
		</div>
		<div class="card-body change-buttons-wrapper">
			<%= link_to edit_post_path(post) do %>
				<span class="glyphicon glyphicon-pencil"></span>
			<% end %>
			<%= link_to post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do %>
			  <span class="glyphicon glyphicon-trash"></span>
			<% end %>
		</div>
		
	</div>
</div>