<%= form_with(model: @post, local: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form-group">
	  <%= f.text_area :content, placeholder: "How you feelin?", class: "form-control" %>
	</div>
	<%= f.label :font_color %>
	<%= f.color_field :font_color, value: '#ff00dd' %>
	<%= f.label :body_color %>
	<%= f.color_field :body_color, value: '#ff00dd' %>
	<div class="post-form-buttons">
		<label for="post_image" class="file-label"><span class="glyphicon glyphicon-camera"></span></label>
		<%= f.file_field :image, accept: "image/jpeg, image/gif, image/png", class: "img-upload" %>
		<%= f.submit "share", class: "share-button" %>
	</div>
	<script>
		textarea = document.querySelector('textarea');
		textarea.addEventListener('input', function(e) {
			e.target.style.height = 'inherit';
			let computed = window.getComputedStyle(e.target);

			var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
	             + parseInt(computed.getPropertyValue('padding-top'), 10)
	             + e.target.scrollHeight
	             + parseInt(computed.getPropertyValue('padding-bottom'), 10)
	             + parseInt(computed.getPropertyValue('border-bottom-width'), 10);
			this.style.height = height + 'px';
			
		});
	</script>
<% end %>