<nav class="navbar navbar-expand-lg" style="background-color: <%= session[:site_color] %>">
  <div class="top-wrapper">
  	<% if user_signed_in? %>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="glyphicon glyphicon-yen"></span>
	  </button>
	<% else %>
	  <%= link_to 'Sign in', new_user_session_path, class: 'login-button', class: 'nav-link btn sign-in-btn' %>
	<% end %>
	  <a class="navbar-brand" href="#"><img src="<%= asset_path('ssil.png') %>" class="logo-img" alt=""></a>
  </div>
  <% if user_signed_in? %>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <%= link_to 'Dashboard', root_path, class: 'nav-link' %>
	      </li>
	      <li class="nav-item active">
	        <%= link_to 'Write Article', '#', class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	        <%= link_to 'Manage posts', '#', class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	        <%= link_to 'Manage articles', '#', class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	        <%= link_to 'Change Color', edit_setting_path(1), class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	      	<%= link_to 'Edit Account Details', edit_user_registration_path, class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
	      </li>
	    </ul>
	  </div>
  <% end %>
</nav>

