<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<ul class="navbar-nav flex-row justify-content-between">
		<% if user_signed_in? %>
		  <li class="nav-item">
		  	<div class="dropdown">
		  		<button class="btn dropdown-toggle"
				  		 type="button" id="dropdownMenuButton"
				  		 data-toggle="dropdown"
				  		 aria-haspopup="true"
				  		 aria-expanded="false">
				  dropdown
				</button>
		  	
			  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  		<%= link_to 'manage posts', '#', class: 'dropdown-item' %>
			  		<%= link_to 'manage articles', '#', class: 'dropdown-item' %>
			  		<%= link_to 'Account', edit_user_path(current_user), class: 'dropdown-item' %>
			  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
			  	</div>
		  	</div>
		  </li>
		  
		<% else %>
		  <li class="nav-item">
		    <%= link_to 'Sign in', new_user_session_path, class: 'login-button' %>
		  </li>
		<% end %>
	</ul>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="top-wrapper">
  	<% if user_signed_in? %>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="glyphicon glyphicon-yen"></span>
	  </button>
	<% else %>
	  <%= link_to 'Sign in', new_user_session_path, class: 'login-button', class: 'nav-link btn btn-primary' %>
	<% end %>
	  <a class="navbar-brand" href="#">Navbar</a>
  </div>
  <% if user_signed_in? %>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <%= link_to 'Dashboard', root_path, class: 'nav-link' %>
	      </li>
	      <li class="nav-item active">
	        <%= link_to 'Write Article', '#', class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	        <%= link_to 'Manage posts', '#', class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	        <%= link_to 'Manage articles', '#', class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	      	<%= link_to 'Edit Account Details', edit_user_registration_path, class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
	      </li>
	    </ul>
	  </div>
  <% end %>
</nav>

